body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

div,
button {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

#intro-description {
  line-height: 1.3em;
}

#intro-btn:hover {
  transform: translateY(0.2em);
}

#intro-btn {
  box-shadow: rgb(240 46 170 / 40%) -5px 5px, rgb(240 46 170 / 30%) -10px 10px,
    rgb(240 46 170 / 20%) -15px 15px, rgb(240 46 170 / 10%) -20px 20px,
    rgb(240 46 170 / 5%) -25px 25px;
  background-color: #ffb52c;
  font-size: 1.3em;
}

button {
  border: solid black;
  padding: 0.5em 1em;
}

#main-container {
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#nav-content {
  display: flex;
  width: 70%;
  color: white;
}

#in-place-for-nav {
  height: 5em;
}

#nav-left {
  display: flex;
  width: 38%;
  align-items: center;
  align-self: flex-start;
  height: 100%;
}

#nav-right {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 7.7em 6.3em 6.3em 7.7em;
  column-gap: 0.3em;
  width: 60%;
  height: 100%;
}

#genji-icon {
  height: 2.5em;
  margin-right: 1em;
}

#name {
  font-size: 1.6875em;
  font-weight: bold;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5em;
}

.nav-option {
  font-size: 1.125em;
  padding: 1em;
  background-color: #323232;
  color: lightgray;
}

.nav-option:hover {
  background-color: darkgreen;
}

#intro-container {
  background: #f1f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32em;
  border-bottom: solid 0.1em gray;
}

#intro {
  height: 80%;
  width: 70%;
  display: grid;
  grid-template-columns: 52% 40%;
  column-gap: 5%;
  justify-content: center;
  flex-direction: column;
}

#intro-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

#intro-button-container {
  display: flex;
  justify-content: center;
}

#my-photo {
  vertical-align: -webkit-baseline-middle;
  height: 23em;
  border: solid black 0.5em;
  object-fit: cover;
  width: 21em;
  max-width: 20em;
}

.section-container {
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 68%;
  margin-top: 2.5em;
}

.section-header {
  font-size: 2.5em;
  font-weight: bold;
  border-bottom: solid 0.04em;
  padding-bottom: 0.4em;
  margin-bottom: 1em;
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.project-main {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #eee;
  color: #4e4e4e;
  border: solid 0.05em;
}

.dropdown {
  font-size: 1.5em;
  margin-right: 1em;
}

.throwaway {
}

.project-header-container {
  font-size: 1.5em;
  padding: 0.3em;
  font-weight: bold;
  border: solid 0.1em;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 0px, rgba(240, 46, 170, 0.3) 10px 0px,
    rgba(240, 46, 170, 0.2) 15px 0px, rgba(240, 46, 170, 0.1) 20px 0px,
    rgba(240, 46, 170, 0.05) 25px 0px;
  flex-basis: 6em;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #03be03;
  margin-right: 1.25em;
  color: rgb(59, 59, 59);
}

.project-description {
  font-size: 1.15em;
  transform: translateY(0.1em);
}

.project-dropdown {
  display: none;
  border-left: solid 0.05em;
  border-right: solid 0.05em;
  border-bottom: solid 0.05em;
}

.visible {
  display: block;
}

.rotated-dropdown {
  transform: rotate(90deg);
}

.project-main-hover {
  background-color: #4e4e4e;
}

.project-description-hover {
  color: #e9eeee;
}

.dropdown-hover {
  color: #e9eeee;
}

.project-header-hover {
  border-color: #e9eeee;
  color: #e9eeee;
  background-color: #029402;
}

.extra-details {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: solid 0.05em;
}

.btn-container {
  display: flex;
  align-items: center;
  align-self: center;
  width: 72%;
  justify-content: space-evenly;
}

.project-links {
  font-size: 1em;
  background-color: #2196f3;
  box-shadow: 0.35em 0.35em;
}

.project-tools {
  font-size: 1em;
  background-color: peachpuff;
  box-shadow: 0.35em 0.35em;
}

.vertical-line {
  height: 3em;
  width: 1em;
  margin-left: 1em;
  border-left: solid 0.2em;
}

.project-img {
  margin-bottom: -0.5em;
}

.project-links:hover {
  background-color: #77bffa;
}

.project-tools:hover {
  background-color: rgb(252, 153, 66);
}

#etch-a-sketch {
  font-size: 0.75em;
}

#rock-paper-scissors {
  font-size: 0.9em;
}

#skills-background {
  background-color: #f1f4f8;
  margin-top: 3em;
  border-top: solid 0.1em gray;
  border-bottom: solid 0.1em gray;
  padding-bottom: 3em;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#focus-text {
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 0.2em;
}

.text-center {
  text-align: center;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 60%;
  background-color: gray;
  height: 1px;
  margin: 2em 0em;
}

#sql {
  width: 5.5em;
}

#familiar-languages,
#not-familiar-languages,
#frameworks-container {
  display: flex;
  align-items: center;
  margin: 1em 0em;
  width: 40%;
  justify-content: space-evenly;
}

i {
  font-size: 4em;
}

#js-icon {
  font-size: 3.5em;
}

.more-space {
  line-height: 1.5em;
}

.bigger-size {
  font-size: 5em;
}

#frameworks-container {
  width: 30%;
}

#awards {
  display: flex;
  
}