body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#main-container {
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 80px;
}

#nav-content {
  display: flex;
  width: 70%;
  color: white;
}

#nav-left {
  display: flex;
  width: 40%;
  align-items: center;
  align-self: flex-start;
  height: 100%
}

#nav-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

#genji-icon {
  height: 50px;
  margin-right: 10px;
}
#name {
  font-size: 30px;
  font-weight: bold;
}

.nav-option {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}





