body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button:hover {
  transform: translateY(0.2em);

}

button {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.3em;
  border: solid black;
  background-color: #ffb52c;
  padding: 0.5em 1em;
  box-shadow: rgb(240 46 170 / 40%) -5px 5px, rgb(240 46 170 / 30%) -10px 10px, rgb(240 46 170 / 20%) -15px 15px, rgb(240 46 170 / 10%) -20px 20px, rgb(240 46 170 / 5%) -25px 25px;
}

#main-container {
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 5em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 
}

#nav-content {
  display: flex;
  width: 70%;
  color: white;
}

#in-place-for-nav {
  height: 5em;

}

#nav-left {
  display: flex;
  width: 38%;
  align-items: center;
  align-self: flex-start;
  height: 100%
}

#nav-right {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 7.7em 6.3em 6.3em 7.7em;
  column-gap: 0.3em;
  width: 60%;
  height: 100%;
}

#genji-icon {
  height: 2.5em;
  margin-right: 1em;
}

#name {
  font-size: 1.6875em;
  font-weight: bold;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5em;
}

.nav-option {
  font-size: 1.125em;
  padding: 1em;
  background-color: #323232;
  color: lightgray;
}

.nav-option:hover {
  background-color: darkgreen;
}

#intro-container {
  background: #f1f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28em;
  border-bottom: solid 0.1em gray;
}

#intro {
  height: 80%;
  width: 70%;
  display: grid;
  grid-template-columns: 52% 40%;
  column-gap: 5%;
  justify-content: center;
  flex-direction: column;
}

#intro-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

#intro-button-container {
  display: flex;
  justify-content: center;
}

#my-photo {
  vertical-align: -webkit-baseline-middle;
  height: 20em;
  border: solid black 0.5em
}





